extends layout
block content
  h3= nom

  
  ul
    h5= title
      
    p 
    table.table
      thead
        tr
          th(scope="col") Nom 
          th(scope="col") Prenom
          th(scope="col") Numero facture
          th(scope="col") Montant
          th(scope="col") Date facture


      tbody
        each facture in facture_listMembre
            tr
            td= facture.utilisateur.nom
            td= facture.utilisateur.prenom
            td= facture.numeroFacture
            td= facture.montant
            td= facture.dateFacture 

     
        else
         