extends layout
block content
  h3= nom

  
  ul
    h5= title
      
    p 
    table.table
      thead
        tr

          th(scope="col") Numero facture
          th(scope="col") Montant
          th(scope="col") Date facture


      tbody
        each facture in facture_listMembreSelectionne
            tr

            td= facture.numeroFacture
            td= facture.montant
            td= facture.dateFacture 

     
        else
          p #[strong Il n'y a pas de facture !]