extends layout
block content
  br
  h5 #{title}
    if user 
          p Bienvenu cher membre  
    else  
          p Bienvenu cher invité
    hr
    p Voulez vous vraiment supprimer cette facture ? 
    P Il n'y a pas de retour en arrière possible.
    hr
  
    form(method="POST", action="")
      .mb-3
        input#factureid.form-control(
          type="hidden",
          name="factureid",
          required="true",
          value=facture._id
        )

      button.btn.btn-primary(type="submit") Supprimer