extends layout
block content
  h3=nom
  br
  h5 #{title} - 
     
     table.table
          br
          thead
            tr
            p
             th(scope="col") Nom machine
             th(scope="col") Prix en €
             th(scope="col") Duree en minutes
             th(scope="col") Sous total en €

          tbody
            
             tr
                td  #{ligneFacturation.nomMachine}               
                td  #{ligneFacturation.prix}                
                td  #{ligneFacturation.duree}
                td  #{ligneFacturation.sousTotal}
    
     a(href=ligneFacturation.url + "/delete")  Supprimer 
                  