extends layout
block content
  h4 #{title}
  
    p Voulez vous vraiment supprimer cette ligne de facturation ?
  
    form(method="POST", action="")
      .mb-3
        input#ligneFacturationid.form-control(
          type="hidden",
          name="ligneFacturationid",
          required="true",
          value=ligneFacturation._id
        )

      button.btn.btn-primary(type="submit") Supprimer