extends layout

block content
  h4 #{title}

  form(method="POST")
    .mb-3
      label.form-label(for="nom") Nom de la machine :
      input#nom.form-control(
        type="text"
        placeholder=" decoupeuse, scanner, ..."
        name="nom"
        required
        value=undefined === machine ? "" : machine.nom
      )
    .mb-3
      label.form-label(for="tarif") Tarif € par minute :
      input#tarif.form-control(
        type="text"
        placeholder=" Exemple : 0.30 / 0.55  Attention à separer les chiffres par un point "
        name="tarif"
        required
        value=undefined === machine ? "" : machine.tarif
      )
    .mb-3
      button.btn.btn-primary(type="submit") Valider 

  if errors
    ul
      each error in errors
        li!= error.msg