extends layout

block content
  h1= nom

  ul
    h5= title

    a(href='/catalog/machine/create') Insérer une nouvelle machine
    each machine in machine_list

      li
        a(href=machine.url) #{machine.nom}  
        p tarif :  #{machine.tarif}
        
         a(href=machine.url + '/delete')  Supprimer 
         a(href=machine.url + '/update')  Modifier

      p  
      
        | 

    else
      li Il n'y a pas de machines.

