extends layout
block content
 
    br
    h5= title
    if user 
          p Bienvenu cher membre  
    else  
          p Bienvenu cher invité
    br
  
    table.table
      thead
        tr
          th(scope="col") Nom
          th(scope="col") Prenom
          th(scope="col") Email
          th(scope="col") utilisation(s)
          th(scope="col") Encoder utilisation
          th(scope="col") 
          
      tbody
        each utilisateur in utilisateur_list
          tr
            td= utilisateur.nom
            td= utilisateur.prenom
            td= utilisateur.email
            td
               a(href= "/catalog/utilisation/" +utilisateur.id) liste utilisations
            td
               a(href='/catalog/utilisation/create?utilisateurid=' + utilisateur.id)  Nouvelle utilisation
            td
               a(href=utilisateur.url + '/update')  Modifier données utilisateur
          
    
      
     


    