extends layout

block content
  

  
    h5= title
  



    table.table
      thead
        tr
          th(scope="col") Nom
          th(scope="col") Prenom
          th(scope="col") Email
          th(scope="col") utilisation(s)
          th(scope="col") 
       
      tbody
        each utilisateur in utilisateur_list
          tr
            td= utilisateur.nom
            td= utilisateur.prenom
            td= utilisateur.email
            td
               a(href= "/catalog/utilisation/:id") utilisation(s)
            td
               a(href=utilisateur.url + '/update')  Modifier
          
    
      
     


    