
extends layout

block content
  h3 #{title}
  
    

    p Voulez vous vraiment supprimer cette utilisation ?

    form(method="POST", action="")
      .mb-3
        input#utilisationid.form-control(
          type="hidden",
          name="utilisationid",
          required="true",
          value=utilisation._id
        )

      button.btn.btn-primary(type="submit") Supprimer