extends layout

block content
  br
  h5 #{title} -  #{utilisateur.nom}
   h6
     table.table
          thead
           
            tr
             br
             p
             th(scope="col") Nom
              th(scope="col") Prenom
             th(scope="col") Role

          tbody 
              tr
                td  #{utilisateur.nom}  
                td  #{utilisateur.prenom}  
                td  #{role.nom}  



         
       

   



  