extends layout
block content
 h4 #{title}
  if user 
          p Bienvenu cher membre  
  else  
          p Bienvenu cher invité
 p
  hr
  br
  if user 
          p Bienvenu cher membre  
  else  
          p Bienvenu cher invité

  
  form(method="POST")
    .mb-3
      label.form-label(for="duree") Duree en minutes :
      input#duree.form-control(
        type="number"
        placeholder=" Veuillez indiquer la duree en chiffres: 11, 23, 31..."
        name="duree"
        required
        value=undefined === utilisation ? "" : utilisation.duree
      )  
    .mb-3
      label.form-label(for="dateUtilisation") Date de l'utilisation :
      input#dateUtilisation.form-control(
        type="date"
        name="dateUtilisation"
        value=undefined === utilisation ? "" : utilisation.dateUtilisation
      )
   
    .mb-3
      label.form-label(for="utilisateur") utilisateur &ensp;
      select
       each utilisateur  in utilisateurs
        option(value=utilisateur.id)  #{utilisateur.nom}  #{utilisateur.prenom}    
      
      .mb-3
      label.form-label(for="machine") machine :
      input#machine.form-control(
        type="text"
        name="machine"  
        required
        value=undefined === machine ? "" : machine.nom
        disabled=!!machine
      )
  
    .mb-3
      button.btn.btn-primary(type="submit") Submit
           

  if errors
    ul
      each error in errors
        li!= error.msg