extends layout
block content
 
    br
    h5= title
  
    br
  
    table.table
      thead
        tr
          th(scope="col") Nom
          th(scope="col") Prenom
          th(scope="col") Email
          th(scope="col") utilisation(s)
          if permissions.includes("creerUtilisationModeManager")   
            th(scope="col") Encoder utilisation
          th(scope="col") facture(s)
          th(scope="col") 
          th(scope="col") 
          
      tbody
        each utilisateur in utilisateur_list
          tr
            td= utilisateur.nom
            td= utilisateur.prenom
            td= utilisateur.email
            td
               a(href= "/catalog/utilisation/" +utilisateur.id) liste utilisations
            if permissions.includes("creerUtilisationModeManager")   
               td  
                  a(href='/catalog/utilisation/create?utilisateurid=' + utilisateur.id)  Nouvelle utilisation
            
               
            td= "A IMPLEMENTER"
            td
              if permissions.includes("modifierInfosTousUtilisateurs")   
                  a(href=utilisateur.url + '/update')  Modifier données utilisateur
            td
               a(href= "/catalog/utilisateur/" +utilisateur.id) role
          
    
      
     


    